main.careers {
  margin: 0 100px;
  font-family: 'Space mono', sans-serif;
}

.contain {
  display: flex;
  align-items: center;
  width: 1475px;
  position: relative;
}

.contain .side {
  margin-right: 300px;
}

.contain .side .title-section {
  color: rgba(73, 85, 103, 1);
  // height: 96px;
  width: 445px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  font-weight: 700;
  margin: 0;
}

.contain .side .scoot-text {
  width: 445px;
  font-size: 15px;
  line-height: 25px;
  color: rgba(147, 156, 170, 1);
  margin: 30px 0;
}

.contain .side .learn-more {
  width: 180px;
  height: 53px;
  background-color: var(--orange);
  color: rgba(255, 255, 255, 1.0);
  padding: 12px 25px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

.contain .container-img {
  height: 445px;
  width: 445px;
  border-radius: 50%;
}

.contain .container-img img {
  height: 445px;
  width: 445px;
  border-radius: 50%;
}

.contain .main-img .left-downward-arrow {
  position: absolute;
  bottom: 30px;
  right: 0;
  height: 99.37px;
  width: 734.28px;
}

.join-us {
  margin: 100px 0;
}

.join-us h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2.14px;
  line-height: 48px;
  color: rgba(73, 85, 103, 1);
}

.join-us .container-join-us {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.join-us .container-join-us .card-join-us {
  width: 350px;
}

.join-us .container-join-us .img-join {
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.join-us .container-join-us .img-join img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.join-us .container-join-us .img-join .div-num-join {
  height: 96px;
  width: 96px;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

.join-us .container-join-us .img-join .div-num-join .num-join {
  width: 29px;
  height: 29px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
  color: rgba(73, 85, 103, 1);
  margin-top: 30px;
}

.join-us .container-join-us .bottom-card {
  text-align: center;
}

.join-us .container-join-us .bottom-card .title-bottom {
  color: rgba(73, 85, 103, 1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.07px;
}

.join-us .container-join-us .bottom-card .title-bottom-description {
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 25px;
  font-family: 'Lexend Deca', sans-serif;
  color: rgba(147, 156, 170, 1);
}

.general-section-cards {
  width: 100%;
  margin-bottom: 100px;
}

.general-section-cards .section-card {
  width: 100%;
  background-color: rgba(242, 245, 249, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 25px;
  // height: 128px;
}

.general-section-cards .section-card .infos {
  width: 40rem;
}

.general-section-cards .section-card .infos .status {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: -1.07px;
  width: 100%;
  color: rgba(73, 85, 103, 1);
}

.general-section-cards .section-card .infos .country {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 25px;
  color: rgba(73, 85, 103, 1);
}

.general-section-cards .section-card a {
  width: 11.25rem;
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 25px;
  background-color: var(--orange);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 14px 67px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  .careers {
    margin: 0 auto !important;
    width: 90%;
  }

  .contain {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .contain .container-img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
  }

  .contain .container-img img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
  }

  // .contain .main-img .left-downward-arrow {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   height: 100px;
  //   left: -600px;
  //   width: 734.28px;
  // }

  .contain .side {
    margin: 0;
  }

  .contain .side .title-section {
    font-size: 44px;
    line-height: 44px;
    letter-spacing: -2.14px;
    font-weight: 700;
    width: 100%;
    margin-top: 20px;
  }

  .contain .side .scoot-text {
    width: 100%;
  }

  .join-us {
    width: 100%;
    margin: 50px 0;
  }

  .join-us .container-join-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {

  .careers {
    width: 100%;
  }

  .contain {
    width: 100%;
    margin: 0;
  }

  .contain .container-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .contain .container-img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .contain .side .title-section {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
  }

  .contain .side .scoot-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }

  .general-section-cards .section-card {
    width: 100%;
    height: 190px;
  }

  .general-section-cards .section-card .infos {
    // display: flex;
    display: block;
  }

  .general-section-cards .section-card .infos .status {
    font-size: 1.125rem;
  }

  .general-section-cards .section-card .infos .country {}

  .general-section-cards .section-card a {
    width: 100%;
  }
}