.cta {
  padding: 10.2rem 11.45vw;
  background-color: #495567;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {
  .cta {
    padding: 6.2rem 0;
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .cta {
    padding: 8.8rem 3.2rem;
  }
}

.cta>*:not(.cta__pattern) {
  position: relative;
  z-index: 10;
}

.cta__text {
  color: #fff;
  width: 41.5rem;
}

@media only screen and (max-width: 1100px) {
  .cta__text {
    width: 45.7rem;
    margin-bottom: 4.8rem;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .cta__text {
    width: 100%;
    max-width: 38rem;
    margin-bottom: 4rem;
  }
}

.cta__download {
  display: flex;
}

.cta__download-link {
  text-decoration: none;
}

.cta__download-link:not(:last-child) {
  margin-right: 1.8rem;
}

@media only screen and (max-width: 700px) {
  .cta__download-link:not(:last-child) {
    margin-right: 1.3rem;
  }
}

.cta__download-button {
  display: flex;
  align-items: center;
  padding: 0.9rem 1.6rem;
  background-color: #E5ECF4;
  color: #495567;
  border-radius: 4px;
  transition: opacity 0.5s;
}

@media only screen and (max-width: 700px) {
  .cta__download-button {
    height: 4rem;
    padding: 0.6rem 1.1rem;
    justify-content: space-between;
  }

  .cta__download-button--apple {
    width: 11.3rem;
  }

  .cta__download-button--google {
    width: 13rem;
  }
}

.cta__download-button:hover {
  opacity: 0.7;
}

.cta__download-icon {
  margin-right: 1.2rem;
  font-size: 3.5rem;
}

@media only screen and (max-width: 700px) {
  .cta__download-icon {
    margin-right: 8px;
    font-size: 2rem;
  }
}

.cta__download-text {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.cta__download-text p:first-child {
  font-size: 1rem;
  letter-spacing: -0.45px;
  margin-bottom: 1px;
}

@media only screen and (max-width: 700px) {
  .cta__download-text p:first-child {
    font-size: 7px;
  }
}

.cta__download-text p:last-child {
  font-size: 2rem;
  letter-spacing: -0.89px;
  line-height: 1.2;
}

@media only screen and (max-width: 700px) {
  .cta__download-text p:last-child {
    font-size: 1.5rem;
  }
}

.cta__pattern {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80.1vw;
  transform: translateX(15%);
}

@media only screen and (max-width: 1100px) {
  .cta__pattern {
    height: 50%;
    width: auto;
  }
}